html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*Header*/
  header{
    background-image: url(../img/header2.jpg);
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-height: 50vh;
    position: absolute;
  }
/*Menu*/
.menu{
  position: relative;
  display: flex;
  justify-content: space-around;
  top: 25px;
  background: rgba(0,0,0,.7);
  height: 60px;
  align-items: center;
}
.menu a{
  width: 150px;
  text-decoration: none;
  color:white;
  font-size:2rem;
}
